h2 {font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; text-shadow: 0px 0px #C74042;}
img {width: 40%; float: left}
#buttons-container {float: right;}
button {font-size: 35px; width: 60%; height: 100px; float: right;}